@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(/img/Background.jpg);
}

.sun {
    width: 350px;
    height: 175px;
    background: radial-gradient(circle at bottom, #74CAFF, #1D8CFF 80%);
    border-top-left-radius: 350px;
    border-top-right-radius: 350px;
    position: absolute;
    top: -150px;
    box-shadow: 0 0 150px 60px #74CAFF88;
    filter: blur(60px);
    rotate: 180deg;
    left: 50%;
    transform: translate(50%);
}

img {
    margin-top: 20px;
}

.bckgrnd2{
    background-color: #000;
    padding: 20px;
    margin-top: -10px;
}


h1 {
    color: #fff;
    margin: 10px;
    margin-left: 100px;
    font-size: 40px;
}
h1 a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    font-size: 20px;
    position: sticky;
    top: 81px;
    z-index: 100;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 15px;
    background-color: rgba(162,162,162,0.3);
    backdrop-filter: blur(10px);
    padding: 10px 30px;
    border-radius: 40px;
    margin-top: -60px;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 8px 18px;
    border-radius: 25px;
    transition: background 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 253, 253, 0.3);
}

.hero2 {
    background-color: rgba(162,162,162,0.3);
    backdrop-filter: blur(40px);
    margin-top: -6px;
    color: #fff;
    padding: 100px;
}

h2 {
    display: flex;
    justify-content: center;
}

footer {
    background-color: rgba(162,162,162,0.3);
    backdrop-filter: blur(40px);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: -20px;
}