@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    background-image: url(/img/Background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Header Start */

.sun {
    width: 350px;
    height: 175px;
    background: radial-gradient(circle at bottom, #74CAFF, #1D8CFF 80%);
    border-top-left-radius: 350px;
    border-top-right-radius: 350px;
    position: absolute;
    top: -150px;
    box-shadow: 0 0 150px 60px #74CAFF88;
    filter: blur(60px);
    rotate: 180deg;
    left: 50%;
    transform: translate(50%);
}

h1 {
    color: #fff;
    margin: 10px;
    margin-left: 100px;
    font-size: 40px;
}

h1 a {
    text-decoration: none;
    color: #fff;
}

header {
    display: flex;
    font-size: 20px;
    position: sticky;
    top: 81px;
    z-index: 100;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 15px;
    background-color: rgba(162,162,162,0.3);
    backdrop-filter: blur(10px);
    padding: 10px 30px;
    border-radius: 40px;
    margin-top: -60px;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 8px 18px;
    border-radius: 25px;
    transition: background 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 253, 253, 0.3);
}



.contactus {
    position: absolute;
    right:60px;
    top: -50px;
}

.contactus a {
    text-decoration: none;
    color: #fff;
    padding: 8px 18px;
    border-radius: 25px;
    background-color: rgba(255, 253, 253, 0.3);
    transition: background 0.3s ease, color 0.3s ease;
}

.contactus a:hover {
    background-color: rgba(7, 174, 212, 0.945);
}
/* Header End */
b {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    -webkit-text-stroke: #ffffff 1px;
}

form{
    background-color: #d8d8d8;
    padding: 15px 20px;
    border-radius: 20px;
    max-width: 30%;
    margin: 50px auto;
    box-shadow: 0 10px 40px rgb(0, 0, 0);
}

label{
    font-weight: bold;
    display: flex;
    margin-top: 15px;
    color: rgb(0, 0, 0);
}

input[type="text"],
input[type="password"],
input[type="tel"],
textarea,
select{
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px solid #010101;
    border: 1px;
    font-size: 15;
    box-sizing: border-box;
}

textarea{
    resize: none;
}

.gender-group {
    margin-top: 8px;
}

.gender-group label{
    margin-right: 15px;
    font-weight: normal;
}

input[type="radio"] {
    margin-right: 7px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

input[type="submit"],
input[type="reset"]{
    border: none;
    color: rgb(248, 245, 245);
    padding: 15px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    width: 48%;
}

input[type="submit"] {
    background-color: green;

}

input[type="reset"] {
    background-color: red;
}

input[type="submit"]:hover{
    background-color: green;
}

input[type="reset"]:hover{
    background-color: red;
}