@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(/img/Background.jpg);
}

/* Coming Soon */

.blur {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(50px);
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.comingsoon-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 50px;
    text-align: center;
    z-index: 101;
    letter-spacing: 5px;
}

/* Header Start */

.sun {
    width: 350px;
    height: 175px;
    background: radial-gradient(circle at bottom, #74CAFF, #1D8CFF 80%);
    border-top-left-radius: 350px;
    border-top-right-radius: 350px;
    position: absolute;
    top: -150px;
    box-shadow: 0 0 150px 60px #74CAFF88;
    filter: blur(60px);
    rotate: 180deg;
    left: 50%;
    transform: translate(50%);
}

h1 {
    color: #fff;
    margin: 10px;
    margin-left: 100px;
    font-size: 40px;
}

h1 a {
    text-decoration: none;
    color: #fff;
}

header {
    display: flex;
    font-size: 20px;
    position: sticky;
    top: 81px;
    z-index: 50;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 15px;
    background-color: rgba(162,162,162,0.3);
    backdrop-filter: blur(10px);
    padding: 10px 30px;
    border-radius: 40px;
    margin-top: -60px;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 8px 18px;
    border-radius: 25px;
    transition: background 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 253, 253, 0.3);
}

.contactus {
    position: absolute;
    right:60px;
    top: -50px;
}

.contactus a {
    text-decoration: none;
    color: #fff;
    padding: 8px 18px;
    border-radius: 25px;
    background-color: rgba(255, 253, 253, 0.3);
    transition: background 0.3s ease, color 0.3s ease;
}

.contactus a:hover {
    background-color: rgba(7, 174, 212, 0.945);
}
/* Product */

.product {
    background-color: rgba(162,162,162,0.3);
    color: #fff;
    padding: 80px;
    backdrop-filter: blur(30px);
    margin-top: 15px;
}

.prd{
    text-align: center;
    margin-bottom: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container a {
    text-decoration: none;
    color: #fff;
}

.box {
    background-color: rgba(252, 252, 252, 0.3);
    backdrop-filter: blur(10px);
    width: 450px;
    height: 600px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


.box img {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.box:hover {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform: scale(1.05);
}

footer {
    background-color: #343434;
    color: #fff;
    text-align: center;
    margin-top: 90px;
    padding: 10px;
}
